.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-box {
  display: flex;
  flex-direction: column;
  flex: 2;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

/* Phone mode */
@media (max-width: 768px) {
  .main-box {
    width: 100%;
    flex: 1;
    padding: 10px;
  }
}

.logo {
  width: 80.788px;
  display: block;
  margin: 0 auto;
}

button {
  width: 290px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #253B23;
  border: none;

  color: #EEEEE4;

  text-align: center;
  font-family: "Lexend", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}